# Виртуальное окружение
venv/
.venv/

# Файл с секретными переменными
.env

# Файлы кеша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы баз данных SQLite
*.db
*.db-journal

# Файлы настроек IDE (например, VS Code)
.vscode/